[default]
# Directory where PDF, .bib, .md, and other files are stored
BibDir                = /home/<your-user-name>/Dropbox/Papers

# Directory where paper tags are stored as a directory hierarchy, with symlinks to tagged PDFs
TagDir                = /home/<your-user-name>/repos/bibtags

# Specifies the default citation key picked when adding a paper with 'ck add', when a citation key is not given as argument
#
# Can be either: 
#  - KeepBibtex, to keep the citation key from the downloaded .bib file
#  - FirstAuthorYearTitle, to use the first author's last name, the year, and the first word in title (e.g., tomescu2019transparency)
#     + If the paper has one author only, uses the first three letters in that author's last name
#  - InitialsShortYear, to use the initials of the first 4 authors + the year; if more than 4 authors, uses the first 3 authors' initials, a plus (+) sign, and the last 2 digits in the year (e.g., TD17, TCZ+19)
#  - InitialsFullYear, like 'InitialsShortYear' but with full year
DefaultCk             = InitialsShortYear

# The text editor that is used to open .bib files for editing with 'ck o <citation-key>.bib'
TextEditor            = vim

# The text editor that is used to open Markdown files for editing with 'ck o <citation-key>.md'
MarkdownEditor        = macdown

# When adding a new paper with 'ck add', the paper's citation key might conflict. In that case,
# some users might want to tag the pre-existing paper (since they probably re-added it by mistake).
TagAfterCkAddConflict = false
